apiVersion: v1
kind: Pod
metadata:
  name: todolist-pod-1
  labels:
    app: todolist
spec:
  containers:
    - name: todolist
      image: todolist:latest
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 8080
      env:
        - name: PYTHONUNBUFFERED
          value: "1"
---
apiVersion: v1
kind: Pod
metadata:
  name: todolist-pod-2
  labels:
    app: todolist
spec:
  containers:
    - name: todolist
      image: todolist:latest
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 8080
      env:
        - name: PYTHONUNBUFFERED
          value: "1"
